.co-main-container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.co-container {
  width: 100%;
  background: var(--app-background);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  gap: 16px;
}
.co-search-container{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.co-filters {
  flex-basis: 20%;
}
.co-filters-title {
  flex-basis: 100%;
  margin: 0;
  padding-bottom: 4px;
}
.co-search-wrapper{
  width: 60%;
}
.co-add-candidate-btn{
  max-width: 150px;
}
.ant-input-affix-wrapper {
  height: 40px !important;
}
/* Table TD */
.ant-table-wrapper .ant-table-tbody >tr >td {
    position: relative;
    padding: 1px 1px !important;
    overflow-wrap: break-word;
}
.ant-picker {
  width: 100% !important;
  height: 40px !important;
}
.ant-select-selector {
  padding: 3px 11px !important;
}
.ant-input-search-button {
  height: 40px !important;
}
.co-filters div {
  width: 100% !important;
  height: 40px !important;
}
.ant-picker-range .ant-picker-range-separator {
  align-items: center;
  padding: 10px 8px;
  line-height: 1;
}
.co-container h2 {
  margin: 0%;
  font-size: 24px;
}
.co-candidate-container {
  width: 100%;
  background: var(--app-background);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.co-tab-container {
  width: 100%;
}
.co-table-container {
  width: 100%;
}

/* Input Container */
.co-main-ip-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
}
.co-sub-ip-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.co-input-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  padding: 8px 16px;
}
.co-remark-container {
  width: 1000%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  padding: 8px 16px;
}
.co-select {
  width: 100%;
  height: 40px;
}
.co-select .ant-select-selector {
  border-radius: 4px !important;
}
.co-input-lable {
  width: 100%;
  margin: 0;
  padding: 0;
}
.co-input-upload {
  width: 100%;
}
.co-input-upload button {
  width: 100%;
  height: 42px;
}
.co-input-upload > div {
  width: 100%;
}
.ant-upload-list-item .ant-upload-icon .anticon > svg {
  display: none;
}
.co-submit-btn-container {
  width: 100%;
  padding: 16px;
  position: sticky;
  bottom: 0px;
  background: var(--app-background);
  z-index: 99;
}
