.nav-main-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-background);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.nav-left-side-section {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  gap: 16px;
}
.nav-right-side-section {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
.nav-logo-container {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 16px;
}
.navlogo {
  width: 100%;
  height: 70%;
}
.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}
.menuIcons {
  font-size: 24px !important;
  cursor: pointer;
}
.nav-avatar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.nav-avatar-container h5 {
  font-size: 14px;
}
.nav-drawer-body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box !important;
}
.nav-drawer-body ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  list-style-type: none;
  padding: 0px 12px !important;
}
.nav-drawer-body ul li {
  width: 100%;
  padding: 8px 0px;
}
.nav-drawer-body ul li a {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: inherit !important;
  font-size: 1.1rem;
}
.nav-drawer-body ul li p {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  color: inherit !important;
  margin: 0;
}

/* Not found page */
.not-found-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-container img {
  width: 50%;
  height: 50%;
}
.not-found-container button {
  min-width: 120px;
  max-width: 200px;
}

/* Drawers */
.nd-title-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color-1);
  padding: 0px 12px;
  box-sizing: border-box !important;
}
.co-title-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color-1);
  padding: 0px 24px;
  box-sizing: border-box !important;
}